@model IEnumerable<WebShop_Mobile.Models.TestProduct>

@{
    ViewBag.Title = "All Products";
}

<h2>All Products</h2>

<div>
    @foreach (var item in Model)
    {
            @Html.Partial("_AllProducts", item)
    }

</div>

