@model IEnumerable<string>
@{
    ViewBag.Title = "CategoriesResult";

    var Category = Model.Last();
    var i = 0;
}

<h2>@Category</h2>
<div class="row" style="display:block">
@foreach (var item in Model)
{
    if (item != Category)
    {
        var image = item + ".jpg";

        <a href="/Product/Index?@Category=@item">
            <div class="col-md-offset-1 col-md-2">
                <img src="~/Content/Img/@Category/@image" class="img-thumbnail img-responsive" alt="@item" />
                <div class="bg-primary">@item</div>
            </div>
        </a>

        i++;
        if (i == 4)
        {
            <div class="col-md-12"><hr /></div>
            i = 0;
        }
    }

}
</div>