@model IEnumerable<WebShop_Mobile.Models.CellPhone>

@{
    ViewBag.Title = "Product List";
}
<div class="row">
    @*<div class="col-md-12"><hr /></div>*@
    <hr />
</div>
@using (Ajax.BeginForm(new AjaxOptions {
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ProductList"


})){
    <div class="radio">
        <label><input type="checkbox" name="Developers" value="Apple" />Apple</label>
        <label><input type="checkbox" name="Developers" value="Samsung" />Samsung</label>
        <label><input type="checkbox" name="Developers" value="Nokia" />Nokia</label>
    </div>
    <input type="submit" value="Search by developer" class="btn btn-default" />

}
<hr />
<div class="row" id="ProductList" style="display:block">

        @Html.Partial("_Product", Model)

</div>


