@model IEnumerable<WebShop_Mobile.Models.CellPhone>

@{
    ViewBag.Title = "Alla Produkter";
    var i = 0;
}

<h2>Alla Produkter</h2>
<br />
<div class="row">
    @foreach (var item in Model)
    {
        @Html.Partial("_AllProducts", item)
        i++;
        if (i == 2)
        {
            <div class="col-md-12"><hr /></div>
            i = 0;
        }
    }

</div>

<div class="row">
    @Html.ActionLink("Skapa ny produkt", "Create", "Admin")
</div>
<div class="row">
    @Html.ActionLink("Tillbaka", "Index", "Admin")
</div>

