@model IEnumerable<WebShop_Mobile.Models.CellPhone>

@{
    ViewBag.Title = "All Products";
    var i = 0;
}

<h2>All Products</h2>

<div class="row">
    @foreach (var item in Model)
    {
        @Html.Partial("_AllProducts", item)
        i++;
        if (i == 2)
        {
            <div class="col-md-12"><hr /></div>
            i = 0;
        }
    }

</div>

