@{
}
<div class="row" style="display:flex">
    <div class="col-offset-3 col-md-6">
        <h2 class="">Om ShopMobile</h2>

        <img class="" src="https://picsum.photos/500/300?Random" /> <br />
        <small class="text-center">Vi har ingen teambild så här är en slumpad bild istället</small>

        <br />
        <br />
        <h3>Frågor och svar:</h3>
        <p>Är vi seriösa? <br />
            Svar: Typ. Detta är ett projekt. Så ja till den biten. <br />
           Säljer vi mobiler? <br />
            Svar: Nope inte alls. Men det ser ut så!</p>
    </div>
</div>

