@{
    ViewBag.Title = "Kontakta Oss";
}
<h2>Kontakta Oss</h2>
<p>Tveka inte att kontakta oss om ett problem uppstår</p>

<address>
    Någonstans i världen<br />
    VetEj, RV 0000-0001<br />
    Telefon: 012.345.6789
</address>

<address>
    <strong>Kundtjänst:</strong>   <a href="">Kundtjänst@ShopMobile.se</a><br />
</address>