@model IEnumerable<WebShop_Mobile.Models.CellPhone>
@{
    ViewBag.Title = "Home Page";
    var i = 0;
}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="carousel slide" id="News" data-ride="carousel">
            <div class="carousel-inner">
                @foreach (var item in Model)
                {
                    if (i == 0)
                    {
                        <div class="item active">
                            @Html.Partial("_Product", item)
                        </div>
                    }
                    else
                    {
                        <div class="item">
                            @Html.Partial("_Product", item)
                        </div>
                    }
                    i++;

                }
            </div>

              <a class="left carousel-control" href="#News" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#News" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div id="WelcomeText" class="text-center">
        <h2>Hej och välkommen till ShopMobile!</h2>
        <p>Här säljer vi alla möjliga telefoner från ett stort utbud av tillverkare världen över. 
            Titta in och hitta din nästa mobil som du inte kan leva utan!</p>
    </div>
</div>